
* {
    box-sizing: border-box;
}
body {
    margin: 0; 
    padding: 0;
}

.agro-up{
    width: 200px;
    height: auto;
    padding-right: 45px;
}

nav{
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    background-color: rgb(41, 110, 33);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

a{
    padding-right: 45px;
    text-decoration: none;
    color: white; 
}

.hover:hover{
    font-size: 22px;
    line-height: 24px;
    color: yellow;
    text-decoration: underline
}

.login {
    margin-left: auto;
    border: solid;
    border-radius: 400px;
    border-color: rgb(183, 255, 0);
    background-color: rgba(91, 152, 21, 0.415);
    padding: 10px;
    text-decoration: none;
}
.login:hover{
    font-size: 24px;
    line-height: 24px;
}

#apresentacao{
    background-color: rgb(101, 186, 114);
    padding: 267px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    border: solid rgb(11, 67, 28);
    text-align: justify;  
}
#objetivos{
    background-color:rgb(145, 121, 48);
    padding: 267px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    border: solid rgb(11, 67, 28);
    text-align: justify; 
}
#parceiros{
    background-color: rgb(89, 190, 199);
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    border: solid rgb(11, 67, 28);
    text-align: justify; 
    padding: 267px;
}
#parceiros img{
    width: 241px;
}
#quemsomos{
    background-color: rgb(178, 255, 154);
    padding: 267px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    border: solid rgb(11, 67, 28);
    text-align: justify; 
}
#contatos{
    padding: 100px;
    font-family: "Raleway", sans-serif;
    background-color: rgb(109, 225, 96);
}

#contatos h1{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    text-align: justify; 
}
#contatos li{
    font-family: "Raleway", sans-serif;
    font-size: 20px;

}

#contatos a{
    color:rgb(0, 128, 255);
    font-family: "Raleway", sans-serif;
}



